body {font-family: Arial, Helvetica, sans-serif;
position: relative;
width: 100vw;
background-color: #05251a;}
.loginform {
    position: absolute;
    top: 50vh;
    left: 50%;
    border: 3px solid #f1f1f1;
    width: 30vw;
    transform: translate(-50% ,-50%);
}
.post{
    border: 3px solid #f1f1f1;
    width: 80vw;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
small{
    color: green;
    background-color: rgb(152, 255, 152);
}
.submit {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
}


button:hover {
  opacity: 0.8;
}
.logoutform{
    width: fit-content;
    margin: 25px auto;
    box-sizing: border-box;
}

.container {
  padding: 16px;
  
}
.articles{
    width: 100vw;
    
}
.article{
    border: 3px solid #f1f1f1;
    width: 80vw;
    margin: 25px auto;
    padding: 16px;
    box-sizing: border-box;
    color: white;
}
label{
    color: white;
}
span.psw {
  float: right;
  padding-top: 16px;
  
}
